/*@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
*/
/*----------------------headerFooter--------------------------------*/
.nav-link{
    font-size: 20px;
    padding: 12px 0px;
    margin-left: 10px;

}
.nav-link:hover{
    background-color: black !important;
}

.content{
    margin: 10% 0% 0% 0%;
}

/*----------------------Home--------------------------------*/


/*----------------------Crop--------------------------------*/

/*----------------------Cust-information--------------------------------*/


/*----------------------message--------------------------------*/

/*----------------------Profile--------------------------------*/

/*----------------------verification mail--------------------------------*/

/*----------------------download-invoice--------------------------------*/

