  /*Menu section*/
.nav-link{
    font-size: 20px;
    padding: 12px 0px;
    margin-left: 10px;

}
.dropdown-item,.nav-link:hover{
    background-color: black !important;
}



/*sidebar section*/

#sidebar-wrapper .list-group {
  width: 15rem;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 550px) {

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }

   #page-content-wrapper {
    width: 100%;
  }
  }


